  <ion-view view-title="Actividades Económicas">
    <ion-content scroll="false">
      <div class="contenedor scroll-content ionic-scroll overflow-scroll">
          <form name="busDetForm" novalidate>
            <div class="item item-image banner">
              <img class="full-image" src="img/img_actividad.png">
            </div>
            <div class="btn-modulo">
              <div class="btn-flotante">
                <img src="img/ico_deuda_aec.png" width="90">
              </div>
            </div>
            <br/>
            <div class="row titulo-container">
              <h4 class="col titulo">Consulta Datos Técnicos</h4>
            </div>
            <div class="list">
              <label class="item item-input border-top0 item-floating-label">
                <span class="input-label">Número Licencia/Actividad</span>
                <input ng-pattern="validarActividadEconomica" type="text" ng-value="identificadorActEco" placeholder="Licencia/Actividad. Ej(21458)" ng-minlength="1"
                       ng-maxlength="25" maxlength="25" ng-model="numActEco" required>
              </label>
              <label class="label-small">Tipo Identificador</label>
              <div class="row marginbottom0">
                <div class="col-50">
                  <p class="paddingleft15">
                    <input name="group1" type="radio" ng-checked="true" id="test1" ng-model="criterio"
                           value="LIC" class="with-gap" checked>
                    <label for="test1" class="label-radio">Licencia</label>
                  </p>
                </div>
                <div class="col-50">
                  <p class="paddingleft15">
                    <input name="group1" type="radio" ng-model="criterio"
                           value="IDP" id="test2" class="with-gap"/>
                    <label for="test2" class="label-radio">Actividad</label>
                  </p>
                </div>
              </div>
              <label class="item item-input item-select lblselect">
                <select class="lstselect" ng-model="codAlcaldia"
                        ng-options="alcaldia.codigo as alcaldia.descripcion for alcaldia in alcaldias" required>
                  <option value="" disabled selected hidden>Seleccione Gobierno Municipal</option>
                </select>
              </label>
              <label class="item item-input border-top0 item-floating-label">
                <span class="input-label">Número Identificación</span>
                <input ng-pattern="validarCI" type="text" ng-model="nroIdentificacion" ng-minlength="4" placeholder="Número Identificación . Ej(21458)" required>
              </label>
            </div>
            <button ng-disabled="busDetForm.$invalid" class="btn-floating btn-large waves-effect waves-light btn-assertive"
                    ng-click="buscarDetalle(numActEco,criterio,codAlcaldia,nroIdentificacion)" id="send">
              <i class="ion-android-send"></i>
            </button>
          </form>
      </div>
    </ion-content>
  </ion-view>
