<ion-view view-title="Acerca de">
  <ion-content scroll="false">
    <div class="contenedor scroll-content ionic-scroll overflow-scroll text-center">
        <br>
          <img src="img/icoRUAT.png" width="45%"/>
        <br>
        <br>
        <span class="ad-version">Versión {{versionApp}}</span>
        <br><br>
        <p class="ad-liks-acercade">
          <a href="" ng-click="modalT.show()">Términos de uso</a>
        </p>
        <p class="ad-copy-text">
          Copyright &copy; 2016
          <br>
          Registro Único para la Administración Tributaria Municipal
        </p>
    </div>
  </ion-content>
</ion-view>
