<ion-view view-title="Comprobante de Pago">
  <ion-content scroll="false">
    <div class="contenedor scroll-content ionic-scroll overflow-scroll">
    <img src="img/qr-page.png" width="100%"/>
    <a class="button button-block icon-right button-assertive menu-general hover-boton-inicio" ng-click="iniciarCamara()">
      <div class="iconAncho" style="color:#ffffff;"><img src="img/qr_code.png" width="35px"/></div>
      <div class="center">
        <p id="ini-txt" style="margin-top: 18px">Capturar Código QR</p>
      </div>
    </a>
    </div>
  </ion-content>
</ion-view>
