<ion-view view-title="Inmuebles">
  <ion-content scroll="false">
    <div class="contenedor scroll-content ionic-scroll overflow-scroll">
        <form name="busGralFormInm" novalidate>
          <div class="item item-image banner">
            <img class="full-image"  src="img/img_inmueble_deuda.png">
          </div>
          <div class="btn-modulo">
            <div class="btn-flotante">
              <img src="img/ico_deuda_inm.png" width="90">
            </div>
          </div>
          <br />
          <div class="row titulo-container">
            <h4 class="col titulo">Consulta Deuda</h4>
          </div>
          <div class="list">
            <label class="item item-input border-top0 item-floating-label">
              <span class="input-label">Número Inmueble</span>
              <input ng-pattern="validarNumeroInm" type="number" ng-minlength="1" ng-maxlength="13" maxlength="13" ng-value="identificadorInm" placeholder="Número Inmueble. Ej. 144584" ng-model="numInmueble" required>
            </label>
            <label class="item item-input item-select lblselect">
              <select class="lstselect" ng-model="codAlcaldia"
                      ng-options="alcaldia.codigo as alcaldia.descripcion for alcaldia in alcaldias" required>
                <option value="" disabled selected hidden>Seleccione Gobierno Municipal</option>
              </select>
            </label>
          </div>
          <button ng-disabled="busGralFormInm.$invalid" class="btn-floating btn-large waves-effect waves-light btn-assertive" id="send" ng-click="buscarInmueble(numInmueble,codAlcaldia)">
            <i class="ion-android-send"></i>
          </button>
        </form>
    </div>
  </ion-content>
</ion-view>
