<ion-view view-title="DATOS DEUDAS">
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <button ng-if="!muestraBack" class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
      <button ng-if="muestraBack" class="button button-icon button-clear ion-ios-arrow-back" ng-click="myGoBack()">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="true">
        <div class="item item-divider titulo_bloque">DATOS IDENTIFICACIÓN INMUEBLE</div>
        <div class="item item-content">
          <div class="row marginbottom0">
            <div class="col-50 etiqueta">Número Inmueble</div>
            <div class="col-50 calm wrap">{{respuestaWS.beanDatosIdentificacion.numero}}</div>
          </div>
          <div class="row marginbottom0">
            <div class="col-50 etiqueta">Código Catastral</div>
            <div class="col-50 calm wrap">{{respuestaWS.beanDatosIdentificacion.codCatastral}}</div>
            <div class="col-33 text-center" ng-if="!respuestaWS.beanDatosIdentificacion.codCatastral">--</div>
          </div>
          <div class="row marginbottom0">
            <div class="col-50 etiqueta">Gobierno Municipal</div>
            <div class="col-50 calm wrap">{{respuestaWS.beanDatosIdentificacion.alcaldia}}</div>
          </div>
        </div>
        <div class="item item-divider titulo_bloque">DATOS TÉCNICOS GENERALES</div>
        <div class="item item-content">
          <div class="row marginbottom0">
            <div class="col-50 etiqueta">Clase</div>
            <div class="col-50 calm wrap" ng-if="respuestaWS.beanDatosTecnicosGenerales.clase">{{respuestaWS.beanDatosTecnicosGenerales.clase}}</div>
            <div class="col-33 text-center" ng-if="!respuestaWS.beanDatosTecnicosGenerales.clase">--</div>
          </div>
          <div class="row marginbottom0">
            <div class="col-50 etiqueta">Área</div>
            <div class="col-50 calm wrap" ng-if="respuestaWS.beanDatosTecnicosGenerales.area">{{respuestaWS.beanDatosTecnicosGenerales.area}}</div>
            <div class="col-33 text-center" ng-if="!respuestaWS.beanDatosTecnicosGenerales.area">--</div>
          </div>
          <div class="row marginbottom0">
            <div class="col-50 etiqueta">Zona Tributaria</div>
            <div class="col-50 calm wrap" ng-if="respuestaWS.beanDatosTecnicosGenerales.zonaTributaria">{{respuestaWS.beanDatosTecnicosGenerales.zonaTributaria}}</div>
            <div class="col-33 text-center" ng-if="!respuestaWS.beanDatosTecnicosGenerales.zonaTributaria">--</div>
          </div>
          <div class="row marginbottom0">
            <div class="col-50 etiqueta">Tipo Propiedad</div>
            <div class="col-50 calm wrap" ng-if="respuestaWS.beanDatosTecnicosGenerales.tipoPropiedad">{{respuestaWS.beanDatosTecnicosGenerales.tipoPropiedad}}</div>
            <div class="col-33 text-center" ng-if="!respuestaWS.beanDatosTecnicosGenerales.tipoPropiedad">--</div>
          </div>
          <div class="row marginbottom0">
            <div class="col-50 etiqueta">Ubicación</div>
            <div class="col-50 calm wrap" ng-if="respuestaWS.beanDatosTecnicosGenerales.direccionCompleta">{{respuestaWS.beanDatosTecnicosGenerales.direccionCompleta}}</div>
            <div class="col-33 text-center" ng-if="!respuestaWS.beanDatosTecnicosGenerales.direccionCompleta">--</div>
          </div>
        </div>
        <div ng-if="respuestaWS.lstBeanProformaDeudas.length>0">
          <div class="item item-divider titulo_bloque">DATOS DEUDAS</div>
          <div class="card text-right">
            <label class="assertive textototal">Total Deuda (Bs.)</label>
            <label class="calm montototal" ng-if="respuestaWS.montoAcumulado!='0'">{{respuestaWS.montoAcumulado}}</label>
            <label class="calm montototal" ng-if="respuestaWS.montoAcumulado=='0'">--</label>
          </div>
          <div class="card text-right" ng-if="respuestaWS.saldoFavor!='0'">
            <label class="assertive textototal">Saldo a favor del contribuyente (Bs.)</label>
            <label class="calm montototal">{{respuestaWS.saldoFavor}}</label>
          </div>
          <div class="card grillaDeuda">
            <div class="item item-divider">
              <div class="row marginbottom0 cabecera-tabla">
                <div class="col-33 text-center">Gestión</div>
                <div class="col-33 text-center">Concepto</div>
                <div class="col-33 text-center">Monto (Bs.)</div>
              </div>
            </div>
            <div class="item item-text-wrap" ng-repeat="deuda in respuestaWS.lstBeanProformaDeudas">
              <div class="row marginbottom0" ng-click="datosProforma(deuda)">
                <div class="col-33 text-center" ng-if="deuda.gestion!='0'">{{deuda.gestion}}</div>
                <div class="col-33 text-center" ng-if="deuda.gestion=='0'">N/A</div>
                <div class="col-33 text-center">{{deuda.tipoImpuesto}}</div>
                <div class="col-33 text-right monto-deuda" ng-if="!deuda.montoBs || deuda.montoBs == '0'">--</div>
                <div class="col-33 text-right monto-deuda" ng-if="deuda.montoBs">{{deuda.montoBs}}</div>
                <span class="icon ion-chevron-right"></span>
              </div>
            </div>
          </div>
          <div class="row marginbottom0">
            <label class="txtsmall balanced">IP - Impuesto a la Propiedad de Bienes Inmuebles</label>
          </div>
          <div class="row marginbottom0">
            <label class="txtsmall balanced">IM - Impuesto Municipal a la Transferencia</label>
          </div>
          <div class="row marginbottom0">
            <label class="txtsmall balanced">OP - Multa por Omisión Pago</label>
          </div>
          <div class="row marginbottom0">
            <label class="txtsmall balanced">OR - Multa Omisión Registro</label>
          </div>
          <div class="row marginbottom0">
            <label class="txtsmall balanced">OM - Otras Multas</label>
          </div>
          <div class="row marginbottom0">
            <label class="txtsmall balanced">MI - Multa Incumplimiento</label>
          </div>
        </div>
        <div ng-if="respuestaWS.mensajeDeuda!=''">
          <div class="item item-divider titulo_bloque">DATOS DEUDAS</div>
          <div class="card">
            <div class="item item-body txtObservacion" ng-if="respuestaWS.mensajeDeuda!=''">{{respuestaWS.mensajeDeuda}}</div>
          </div>
        </div>
        <div ng-if="respuestaWS.observaciones">
          <div class="item item-divider titulo_bloque">OBSERVACIONES</div>
          <div class="card">
            <div class="item item-body txtObservacion" ng-if="respuestaWS.observaciones" ng-repeat="observaciones in respuestaWS.observaciones">{{observaciones}}</div>
          </div>
        </div>

  </ion-content>
  <div class="btn-flotante">
    <a class="btn-floating btn-large waves-effect waves-light btn-assertive" ng-click="show()" href="">
      <i class="ion-plus"></i>
    </a>
  </div>

</ion-view>
