<ion-view view-title="INMUEBLES ENCONTRADOS">
  <ion-content scroll="true">

      <div class="item item-divider titulo_bloque">RESULTADOS BÚSQUEDA</div>
      <div class="item item-content">
        <div class="row marginbottom0">
          <div class="col-50">Clase</div>
          <div class="col-50 calm wrap">PROPIEDAD HORIZONTAL</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-50">Dirección</div>
          <div class="col-50 calm wrap">CALACOTO AVENIDA JOSE BALLIVIAN 1578 PISO: PB DEPTO: L/EV BLOQUE: 1</div>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          <div class="row marginbottom0 cabecera-tabla">
            <div class="col-33 text-center">Propietario</div>
            <div class="col-33 text-center">Estado Propiedad</div>
            <div class="col-33 text-center">Fecha Inicio Propiedad</div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row marginbottom0 deuda">
            <div class="col-33 text-center wrap">DEMETRIO FILEMON MARQUEZ OROSCO (AADD 62.5%)</div>
            <div class="col-33 text-center">ACTIVO</div>
            <div class="col-33 text-center">01/02/2014</div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row marginbottom0 deuda">
            <div class="col-33 text-center wrap">DEMETRIO FILEMON MARQUEZ OROSCO (AADD 37.5%)</div>
            <div class="col-33 text-center">ACTIVO</div>
            <div class="col-33 text-center">01/02/2014</div>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
