<ion-view view-title="DATOS DEUDA">
  <ion-content scroll="true">

      <div class="item item-divider titulo_bloque">DATOS IDENTIFICACIÓN INMUEBLE</div>
      <div class="item item-content">
        <div class="row marginbottom0">
          <div class="col-50">Número Inmueble</div>
          <div class="col-50 calm wrap">8675</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-50">Codigo Catastral</div>
          <div class="col-50 calm wrap">10-2-950100-000244</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-50">Gobierno Municipal</div>
          <div class="col-50 calm wrap">COCHABAMBA</div>
        </div>
      </div>
      <div class="item item-divider titulo_bloque">DATOS TÉCNICOS GENERALES</div>
      <div class="item item-content">
        <div class="row marginbottom0">
          <div class="col-50">Clase</div>
          <div class="col-50 calm wrap">PROPIEDAD HORIZONTAL</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-50">Àrea</div>
          <div class="col-50 calm wrap">URBANO</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-50">Zona Tributaria</div>
          <div class="col-50 calm wrap">ZONA 14</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-50">Tipo Propiedad</div>
          <div class="col-50 calm wrap">UNICA</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-50">Ubicación</div>
          <div class="col-50 calm wrap">CALACOTO AVENIDA JOSE BALLIVIAN 1578 PISO: PB DEPTO: L/EV BLOQUE: 1</div>
        </div>
      </div>
      <div class="item item-divider titulo_bloque">DATOS DEUDA</div>
      <div class="card text-right">
        <label class="assertive textototal">Total Deuda (Bs.)</label>
        <label class="calm montototal">323</label>
      </div>
      <div class="card">
        <div class="item item-divider">
          <div class="row marginbottom0 cabecera-tabla">
            <div class="col-33 text-center">Gestión</div>
            <div class="col-33 text-center">Concepto</div>
            <div class="col-33 text-center">Monto (Bs.)</div>
          </div>
        </div>
        <div class="item item-text-wrap">
          <div class="row marginbottom0 deuda">
            <div class="col-33 text-center">2010</div>
            <div class="col-33 text-center">PT</div>
            <div class="col-33 text-center">323</div>
          </div>
        </div>
      </div>
      <div class="row marginbottom0">
        <label class="txtsmall balanced">IP - Impuesto a la Propiedad de Bienes Inmuebles</label>
      </div>
      <div class="row marginbottom0">
        <label class="txtsmall balanced">IMT - Impuesto municipal a la transferencia</label>
      </div>
      <div class="row marginbottom0">
        <label class="txtsmall balanced">RE - Recibos</label>
      </div>
      <div class="row marginbottom0">
        <label class="txtsmall balanced">MOP - Multa por Omisión Pago</label>
      </div>
      <br>
      <div class="item item-divider titulo_bloque">OBSERVACIONES</div>
      <div class="card">
        <div class="item item-body txtObservacion">Ejemplo de observación para inmuebles</div>
      </div>

  </ion-content>

</ion-view>
