<ion-view view-title="Inicio">
  <ion-content scroll="true" >

        <div class="row text-center">
          <img src="img/LogoRuat2016.svg" class="full-image logoInicio" />
        </div>
        <br />
        <!--<a href="#/app/inf-verifica-pago" class="button button-block icon-right ion-ios-arrow-right button-assertive menu-general hover-boton-inicio">
          <div class="iconAncho" style="color:#ffffff;"><img src="img/qr_code.png" width="35px"/></div>
          <p id="ini-txt">Verificar Pago</p>
        </a>-->
        <a href="#/app/ve-bus-general" class="button button-block icon-right ion-ios-arrow-right button-assertive menu-general hover-boton-inicio">
          <div class="iconAncho"><img src="img/ico_deuda_veh_pp.svg" width="35px"/></div>
          <p id="ini-txt">Deuda Vehículos</p>
        </a>
        <a href="#/app/ve-bus-itv" class="button button-block icon-right ion-ios-arrow-right button-assertive menu-general hover-boton-inicio">
          <div class="iconAncho"><img src="img/ico_deuda_veh_inf_pp.svg" width="25px"/></div>
          <p id="ini-txt">Deuda Infracciones e ITV</p>
        </a>
        <a href="#/app/inm-bus-general" class="button button-block icon-right ion-ios-arrow-right button-assertive menu-general">
          <div class="iconAncho"><img src="img/ico_deuda_inm_pp.svg" width="25px"/></div>
          <p id="ini-txt">Deuda Inmuebles</p>
        </a>
        <a href="#/app/ae-bus-general" class="button button-block icon-right ion-ios-arrow-right button-assertive menu-general">
          <div class="iconAncho"><img src="img/ico_deuda_aec_pp.svg" width="25px"/></div>
          <p id="ini-txt">Deuda Actividades Económicas</p>
        </a>
        <a href="#/app/ts-bus-general" class="button button-block icon-right ion-ios-arrow-right button-assertive menu-general">
          <div class="iconAncho"><img src="img/ico_deuda_tas_pp.svg" width="25px"/></div>
          <p id="ini-txt">Deuda Tasas y Otros Ingresos</p>
        </a>
        <a href="#/app/inf-vencimientos" class="button button-block icon-right ion-ios-arrow-right button-assertive menu-general">
          <div class="iconAncho"><span class="icon icon-left ion-android-calendar iconLeft"></span></div>
          <p id="ini-txt">Vencimientos</p>
        </a>
        <a href="#/app/inf-load-maps" class="button button-block icon-right ion-ios-arrow-right button-assertive menu-general">
          <div class="iconAncho"><span class="icon icon-left ion-map iconLeft"></span></div>
          <p id="ini-txt">Agencias de Cobro Más Cercanas</p>
        </a>

   </ion-content>
</ion-view>
