<ion-modal-view>
  <ion-header-bar class="bar bar-positive">
    <h1 class="title">Políticas de privacidad</h1>
    <div class="button button-clear" ng-click="modalP.hide()">
      <i class="icon ion-close"></i>
    </div>
  </ion-header-bar>
  <ion-content scroll="true" class="ad-terminos">
    <span class="ad-tituloT">1.	GENERALIDADES</span>
    <p>El documento tiene por objeto establecer las políticas de privacidad para el uso de la aplicación móvil (en adelante denominada, Aplicación), de titularidad del Registro Único para la Administración Tributaria Municipal (en adelante denominado, RUAT).</p>

    <span class="ad-tituloT">2.	CONSENTIMIENTO SOBRE LA INCORPORACIÓN DE DATOS DE CARÁCTER PERSONAL</span>
    <p>El RUAT manifiesta que solo recoge los datos estrictamente necesarios para ofrecer los servicios derivados de su actividad. A tal efecto, por medio de la presente y en cualquier caso, mediante la descarga de la Aplicación o introducción de cualquier dato de carácter personal en cualquier formulario electrónico durante el uso de la Aplicación, el Usuario queda informado y presta su consentimiento para la incorporación de dichos datos.</p>
    <p>El Usuario, mediante la aceptación de los términos contenidos en la presente clausula, se compromete a cumplir durante el uso de la Aplicación las obligaciones contenidas en los presentes términos y a asumir el alcance de las garantías del RUAT otorgadas a través de la misma.</p>
    <p>El RUAT se compromete a usar los datos de carácter personal proporcionados, con la máxima confidencialidad, de la misma forma garantiza que los empleados de la compañía que tengan o pudieran tener acceso a dicha información tengan las mismas consideraciones.</p>

    <span class="ad-tituloT">3.	VERACIDAD DE LOS DATOS FACILITADOS</span>
    <p>La Aplicación, asume que los datos facilitados por el Usuario son ciertos y correctos y en base a estos realiza las consultas necesarias en sus diferentes módulos. Por otra parte, la entrega de los datos es absolutamente voluntaria, si bien la carencia de entrega de determinados datos en los formularios electrónicos que se le presenten al Usuario puede provocar la imposibilidad de acceso a los servicios, la Aplicación informará del carácter obligatorio y/o necesario de la entrega de los datos para el funcionamiento del servicio.</p>

    <span class="ad-tituloT">4.	DURACIÓN Y TERMINACIÓN</span>
    <p>La prestación de los servicios y/o contenidos de la Aplicación tiene una duración indefinida. Sin perjuicio a lo anterior, el RUAT está facultado para dar por terminada, suspender o interrumpir unilateralmente, en cualquier momento y sin necesidad de preaviso, la prestación del servicio de la Aplicación. Al finalizar dicho uso, se pondrá fin a todos los derechos y permisos otorgados al Usuario y el Usuario deberá dejar de utilizar la Aplicación.</p>

  </ion-content>
</ion-modal-view>
