<ion-modal-view>
  <ion-header-bar class="bar bar-positive">
    <h1 class="title">Términos de uso</h1>
    <div class="button button-clear" ng-click="modalT.hide()">
      <i class="icon ion-close"></i>
    </div>
  </ion-header-bar>
  <ion-content scroll="true" class="ad-terminos">
    <span class="ad-tituloT">1.	GENERAL</span>
    <p>El documento tiene por objeto establecer las condiciones generales para el uso de la aplicación móvil (en adelante denominada, Aplicación), de titularidad del Registro Único para la Administración Tributaria (en adelante denominado, RUAT) con NIT 1017661027, con domicilio legal en La Paz, Calle Indaburo esq. Colón, Edificio Contraloría piso 9.</p>
    <p>El uso y descarga de la Aplicación atribuye a una persona la condición de usuario de la misma (en adelante, el Usuario) e implica que leyó y aceptó todos los términos del presente documento.</p>
    <p>El acceso y descarga de la Aplicación es gratuito salvo en lo que concierne al costo del servicio de conexión suministrada por el proveedor de acceso contratado por el Usuario.</p>

    <span class="ad-tituloT">2.	CONDICIONES DE LA APLICACIÓN</span>
    <span class="ad-seccion">Capacidad y mayoría de edad</span>
    <p>Al realizar una petición a través de la Aplicación, el Usuario garantiza que: Tiene la capacidad legal necesaria, de acuerdo a la normativa boliviana, para celebrar contratos vinculantes y ser mayor de edad.</p>

    <span class="ad-seccion">Condiciones de uso</span>
    <p>La Aplicación requiere para su funcionamiento una conexión activa a Internet; las consultas realizadas desde la aplicación móvil generan tráfico de datos, por lo tanto, los costos asociados a esta conexión son de entera responsabilidad del Usuario.</p>
    <p>El Usuario tiene prohibido realizar las siguientes acciones con la Aplicación 1) hacer y distribuir copias de la Aplicación; 2) reproducir, alterar, modificar, hacer ingeniería inversa, descompilar, transferir, intercambiar o traducir la Aplicación; 3) crear proyectos derivado de la Aplicación.</p>

    <span class="ad-seccion">Requisitos del sistema</span>
    <p>Para poder utilizar la Aplicación, el Usuario debe disponer de un dispositivo móvil que cumpla las siguientes especificaciones mínimas: Dispositivos con los sistemas operativos Android 4.4.2 Kit Kat o superior e iOS 9.3 o superior.</p>

    <span class="ad-tituloT">3.	SERVICIOS</span>
    <p>La Aplicación ofrece un servicio informativo como parte de una red de comunicaciones que conecta en línea a Gobiernos Municipales que registran información de los objetos tributarios de su competencia, Entidades Financieras habilitadas para realizar el cobro de impuestos y la Policía Boliviana Nacional encargada del registro de gravámenes o hipotecas y robo de vehículos.</p>

    <span class="ad-tituloT">4.	RECOPILACIÓN DE INFORMACIÓN </span>
    <p>El RUAT mediante la Aplicación recopila de manera automática información acerca de su dispositivo móvil. La información recopilada del dispositivo es la siguiente:</p>
    <ul class="ad-lista">
      <li>Dirección IP</li>
      <li>Nombre del sistema operativo</li>
      <li>Geolocalización del dispositivo</li>
    </ul>
    <br>
    <span class="ad-seccion">Veracidad de los datos facilitados</span>
    <p>La Aplicación, asume que los datos facilitados por el Usuario son ciertos y correctos, en base a estos realiza las consultas necesarias en sus diferentes módulos. La Aplicación informará del carácter obligatorio y/o necesario de la entrega de los datos para el funcionamiento del servicio. La carencia de entrega de determinados datos en los formularios electrónicos que se le presenten al Usuario puede provocar la imposibilidad de acceso a los servicios.</p>

    <span class="ad-seccion">Consentimiento sobre la incorporación de datos</span>
    <p>El RUAT manifiesta que solo recoge los datos estrictamente necesarios para ofrecer los servicios derivados de la Aplicación. A tal efecto, por medio del presente documento y mediante la descarga de la Aplicación o introducción de cualquier dato en cualquier formulario electrónico durante el uso de la Aplicación, el Usuario queda informado y presta su consentimiento para el registro de dichos datos.</p>
    <p>El RUAT garantiza la máxima confidencialidad con respecto a los datos facilitados. Asimismo, garantiza la transmisión, recepción y almacenamiento de dicha información.</p>

    <span class="ad-tituloT">5.	DISPONIBILIDAD DE LA APLICACIÓN  </span>
    <p>La Aplicación está disponible para todos los Usuarios a través de dispositivos móviles con los sistemas Operativos Andoid OS e iOS en sus versiones especificadas en los requisitos del sistema.</p>
    <p>El RUAT garantiza que la Aplicación esté disponible en todo momento. No obstante, el Usuario acepta que la descarga de la Aplicación y su correcto funcionamiento se realizan a través de internet y/o redes móviles, y que en consecuencia, la calidad y disponibilidad de las mismas pueden verse afectadas por factores ajenos, sean  estos atribuibles a terceros por causa de problemas de conectividad, configuración del dispositivo móvil u otros atribuibles al Usuario, que estén fuera el control del RUAT.</p>

    <span class="ad-seccion">Mantenimiento de la aplicación</span>
    <p>La versión del software de la Aplicación puede sufrir actualizaciones periódicas para añadir compatibilidad con nuevas funciones y servicios.</p>
    <p>El RUAT podrá, en cualquier momento, realizar modificaciones y actualizaciones a la Aplicación; el Usuario será debidamente notificado por la tienda correspondiente a su sistema operativo cuando se realice la subida de una nueva versión de la aplicación. Es responsabilidad del Usuario verificar si la misma es compatible con los requisitos del sistema operativo descritos en el presente documento. El RUAT no se hará responsable del servicio técnico ni del mantenimiento del dispositivo donde se instala la Aplicación.</p>

    <span class="ad-tituloT">6.	LICENCIA, CESIONES Y DERECHOS DE PROPIEDAD INTELECTUAL</span>
    <p>El RUAT mantiene todos los derechos de propiedad intelectual de la Aplicación y únicamente otorga una licencia gratuita válida hasta que el Usuario cese en el uso de la aplicación y la desinstale.</p>
    <p>El RUAT se reserva el derecho a modificar o deshabilitar la Aplicación en cualquier momento y por cualquier motivo en conformidad con los presentes términos.</p>

    <span class="ad-tituloT">7.	LIMITACIÓN DE RESPONSABILIDAD</span>
    <p>La Aplicación y el software se suministran «tal cual» y «tal como están disponibles» en las tiendas habilitadas para su descarga e instalación (Play Store, Apple Store), sin ningún tipo de garantía.</p>
    <p>El Usuario acepta que, el único y exclusivo derecho que le asiste frente a cualquier problema o insatisfacción con la aplicación o contenido de esta, es desinstalar y dejar de usar la misma.</p>

    <span class="ad-tituloT">8.	RESPONSABILIDADES DE LOS USUARIOS</span>
    <p>El Usuario reconoce y acepta que el uso de los contenidos y/o servicios ofrecidos por la Aplicación RUAT será bajo su exclusivo riesgo y/o responsabilidad. </p>
    <p>El Usuario se compromete a utilizar la aplicación y todo su contenido y servicios de conformidad con las presentes condiciones de uso. Asimismo, se compromete a hacer uso adecuado de los servicios y/o contenidos de la Aplicación y a no emplearlos para realizar actividades ilícitas o constitutivas de un delito, que atenten contra los derechos de terceros y/o que infrinjan la normativa legal aplicable. </p>

    <span class="ad-tituloT">9.	DURACIÓN Y TERMINACIÓN </span>
    <p>La prestación del servicio y/o contenidos de la Aplicación tiene una duración indefinida. Sin perjuicio a lo anterior, el RUAT está facultado para dar por terminada, suspender o interrumpir unilateralmente, en cualquier momento y sin necesidad de preaviso, la prestación del servicio de la Aplicación. Al finalizar dicho uso, se pondrá fin a todos los derechos y permisos otorgados al Usuario.</p>

  </ion-content>
</ion-modal-view>
