<ion-view view-title="DATOS DEUDA">
  <ion-content scroll="true">

    <div class="item item-divider titulo_bloque">DATOS IDENTIFICACIÓN VEHÍCULO</div>
    <div class="item item-content">
      <div class="row marginbottom0">
        <div class="col-67">Placa</div>
        <div class="col-50 calm">155BEB</div>
      </div>
      <div class="row marginbottom0">
        <div class="col-67">Nro. Copia Válida Placa</div>
        <div class="col-50 calm">0</div>
      </div>
    </div>
    <div class="item item-divider titulo_bloque">DATOS DEUDA</div>
    <div class="card text-right">
      <label class="assertive textototal">Total Deuda (Bs.)</label>
      <label class="calm montototal">430</label>
    </div>
    <div class="card">
      <div class="item item-divider">
        <div class="row marginbottom0 cabecera-tabla">
          <div class="col-33 text-center">Gestión</div>
          <div class="col-33 text-center">Impuesto</div>
          <div class="col-33 text-center">Monto (Bs.)</div>
        </div>
      </div>
      <div class="item item-text-wrap">
        <div class="row marginbottom0">
          <div class="col-33 text-center">2010</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">120</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2011</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">150</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2012</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">160</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2012</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">160</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2012</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">160</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2012</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">160</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2012</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">160</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2012</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">160</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2012</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">160</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2012</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">160</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2012</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">160</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2012</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">160</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2010</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">120</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2011</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">150</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2012</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">160</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2012</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">160</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2012</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">160</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2012</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">160</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2012</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">160</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2012</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">160</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2012</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">160</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2012</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">160</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2012</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">160</div>
        </div>
        <div class="row marginbottom0">
          <div class="col-33 text-center">2012</div>
          <div class="col-33 text-center">IP</div>
          <div class="col-33 text-center">160</div>
        </div>
      </div>
    </div>
    <div class="row marginbottom0">
      <label class="txtsmall balanced">IP - Impuesto a la propiedad de vehículos automotores</label>
    </div>
    <div class="row marginbottom0">
      <label class="txtsmall balanced">IMT - Impuesto municipal a la transferencia</label>
    </div>


  </ion-content>
  <a class="btn-floating btn-large waves-effect waves-light btn-assertive" href="#/">
    <i class="ion-android-more-horizontal"></i>
  </a>

</ion-view>
